In [37]:
import pandas as pd
import numpy as np

data = {
            'Id': [100, 200, 300, 400],
            'Name': ['ศุภชัย', 'สมใจ', 'ศักดิ์ชัย', 'พรชัย'],
            'Salary': [20000, 22000, np.nan, 19000],
            'Age': [35, 34, np.nan, 37]
        }

df = pd.DataFrame(data)
result = df.interpolate()
result

    Id       Name   Salary   Age
0  100     ศุภชัย  20000.0  35.0
1  200       สมใจ  22000.0  34.0
2  300  ศักดิ์ชัย  20500.0  35.5
3  400      พรชัย  19000.0  37.0