In [11]:
import pandas as pd

data = [
    ['สมชาย', 185, 16000, 'M'], ['สมใจ', 163, 17500, 'F'],
    ['พรชัย', 182, 20000, 'M'], ['วีระ', 183, 19200, 'M'],
    ['ดวงพร', 166, 18500, 'F'], ['วิไล', 165, 19700, 'F'],
    ['ปิยะพร', 160, 16800, 'F'], ['บุญเลิศ', 179, 17400, 'M']
]

colsname = ['ชื่อ', 'ส่วนสูง', 'เงินเดือน', 'เพศ']
df = pd.DataFrame(data, columns=colsname)

role = df.groupby(['เพศ'])
df_groupby_role = role[['เพศ', 'เงินเดือน']]
result = df_groupby_role.mean()
result

     เงินเดือน
เพศ
F        18125
M        18150