In [10]:
import pandas as pd
import numpy as np

data = {
            'Id': [100, 200, 300, 400],
            'Name': ['ศุภชัย', 'สมใจ', 'ศักดิ์ชัย', 'พรชัย'],
            'Salary': [20000, 22000, np.nan, pd.NaT],
            'Age': [35, 36, np.nan, None]
        }

df = pd.DataFrame(data)
df_correct = df.dropna()
df_correct

    Id    Name Salary   Age
0  100  ศุภชัย  20000  35.0
1  200    สมใจ  22000  36.0