In [9]:
import pandas as pd

data1 = {
        'CustomerID' : [100, 101, 102],
        'FullName': ['ศุภชัย', 'ดวงพร', 'สมใจ']
     }
data2 = {
        'Salary': [20000, 19500, 18600]
     }

df1 = pd.DataFrame(data1, index={1, 2, 3})
df2 = pd.DataFrame(data2, index={1, 2, 3})

result = pd.concat([df1, df2], axis=1)
result

   CustomerID FullName  Salary
1         100   ศุภชัย   20000
2         101    ดวงพร   19500
3         102     สมใจ   18600